@import "@fontsource-variable/jetbrains-mono";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "JetBrains Mono Variable", monospace, sans-serif;

    --background: theme(colors.slate.50);
    --foreground: theme(colors.slate.900);

    --muted: theme(colors.slate.100);
    --muted-foreground: theme(colors.slate.500);

    --popover: white;
    --popover-foreground: theme(colors.slate.900);

    --border: theme(colors.slate.200);
    --input: theme(colors.slate.200);

    --card: white;
    --card-foreground: theme(colors.slate.900);

    --primary: theme(colors.slate.200);
    --primary-foreground: theme(colors.slate.950);
    --primary-hover: theme(colors.slate.400);

    --secondary: theme(colors.orange.300);
    --secondary-foreground: theme(colors.orange.950);
    --secondary-hover: theme(colors.orange.400);

    --accent: theme(colors.slate.100);
    --accent-foreground: theme(colors.slate.900);

    --destructive: theme(colors.red.500);
    --destructive-foreground: theme(colors.slate.50);

    --ring: theme(colors.slate.400);

    --radius: 0.5rem;

    --shadow-inset: inset 1px 1px 0 hsla(0, 0%, 100%, 0.4),
      inset -1px -1px 0 rgba(0, 0, 0, 0.3);
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer utilities {
  .dot-shadow {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 4px;
      left: 4px;
      right: -5px;
      bottom: -5px;
      border-radius: inherit;
      background-repeat: repeat repeat;
      background-image: url(/dotted.svg);
      pointer-events: none;
      z-index: -1;
    }
  }
}
